/* App.css */
body {
  background-color: #0c7ef0;
  font-family: Arial, sans-serif;
  height: 100vh; /* Ensure the body takes full height of the viewport */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 50px;
}

.title-row {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  height: 45px;
  border-radius: 0;
}

.input-group button {
  height: 45px;
  border-radius: 0;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  background-color: #fff;
}

.list-group-item button {
  margin-left: 10px;
}
